//// CSS VARIABLES ////
:root {
  //// COLORS ////
  --white: #fff;
  --gray-1: #e3e3e3;
  --blue: #2295ba;
}

$red: #f08080;
$white: #fff;
$gray: #ccc;
$green: #52b788;

/* OPACITY */
$opacity-little: 0.7;
